@tailwind base;
@tailwind components;
@tailwind utilities;

.png-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}

#check:checked ~ #nav-icons #nav-normal {
  display: none;
}

#check:checked ~ #nav-icons #nav-closed {
  display: block;
}